
  form {
    margin: 30px auto;
    max-width: 22rem;
  }
  
  .form-actions {
    margin-top: 1rem;
  }


  input{
    -webkit-appearance: none;
    width: 80%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .15s ease;
  }
    input:hover{
        background: rgba(#223254,.03)
    }
    input:not(:placeholder-shown){
        color: #5A667F;
        transform: translateY(-1rem) scale(.90);
    }

    input:focus{
        background: none;
        outline: none;
    }
