.main-button{
    display:inline-block;
    padding:0.8rem;
    margin:0.5rem;
    border-radius:2em;
    box-sizing: border-box;
    color:#FFFFFF;
    background-color:rgba(154, 181, 217, 1);
    text-align:center;
    transition: all 0.2s;
    text-decoration: none;
    font-size: 1.4rem;
    }
    .main-button:hover{
    background-color:rgba(102, 141, 191, 1);
    }
 