.home img{
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
    height: 70vh;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.home-btn a{
    font-size: 2rem;
    padding:1.5rem;
    }

@media (min-width: 768px) {
    .homedesign-mobile {
        display: none;
        }
    
  }
  @media (max-width: 768px) {
      .homedesign-desk {
          display: none;
          }
          .home-btn a{
            font-size: 1.5rem;
            padding:1.3rem;
            }
    }

