@import url('https://fonts.googleapis.com/css?family=Chilanka|Comfortaa&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  background: rgba(221, 235, 254, 1);
  text-align: center;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form button{
  display:inline-block;
  padding:0.8rem;
  margin:1rem;
  border-radius:2em;
  box-sizing: border-box;
  color:#FFFFFF;
  background-color:rgba(154, 181, 217, 1);
  text-align:center;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 1.4rem;
  width: 40%;
  border: none;
  font-family: 'Comfortaa', cursive;
}
.form{
  color: salmon;
}
.form label , h3{
color: gray;
}
.form button:hover{
background-color:rgba(102, 141, 191, 1);
}

input[type=text],input[type=tel],input[type=number],input[type=password]{
  -webkit-appearance: none;
  width: 80%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;
}
   input[type=text],input[type=tel],input[type=number],input[type=password]:hover{
      background: rgba(#223254,.03)
  }
  input[type=text],input[type=tel],input[type=number],input[type=password]:not(:placeholder-shown){
      color: #5A667F;
      transform: translateY(-0.5rem) scale(.99);
  }

   input[type=text],input[type=tel],input[type=number],input[type=password]:focus{
      background: none;
      outline: none;
  }
